.optionContainer {
    width: 250px;
    height: 200px;
    background-color: #efefef;
    box-shadow: 0 0 5px #00000010;
    border-radius: 10px;
    border: 0.5px solid rgba(112, 128, 144, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-inline: 10px;
    padding-block: 10px;
    position: relative;
    margin-right: min(20px, 20px);
}

.imagePreview {
    width: 75%;
    aspect-ratio: auto;
    border-radius: 10px;
    border: 0.25px solid rgba(112, 128, 144, 0.25);
}

.textName {
    font-weight: 600;
    text-align: center;
    color: rgb(124, 124, 124);
    margin-top: 15px;
    margin-bottom: 10px;
}

.identifier {
    font-weight: 300;
    font-size: 8px;
    margin: 0;
    color: rgb(124, 124, 124);
}

.localSave {
    position: absolute;
    top: 8px;
    right: 27.5px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 2px solid #efefef;
    background-color: rgb(52, 199, 89);
    box-shadow: 0 0 5px #00000020;
}

.selected {
    outline: 3px solid rgb(0, 122, 255);
}

.progressDiv {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 8px;
    right: 27.5px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #00000020;
    display: none;
}

.visible {
    display: flex;
}

.progressDiv::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #efefef;
    border-radius: 100%;
}